@mixin grow-style{
	background-repeat: no-repeat;
	background-position: center center;}
	
.context-course_{
	&270281{
		.prof {
			background-image: url("course-style/geb5212-barnes/barnes.png");}	
		.m0 {
			background-image: url("course-style/geb5212-barnes/00-start.png"); 
			@include grow-style;}
		.m1 {
			background-image: url("course-style/geb5212-barnes/01-active.png"); 
			@include grow-style;}
		.m2 {
			background-image: url("course-style/geb5212-barnes/02-concision.png"); 
			@include grow-style;}
		.m3 {
			background-image: url("course-style/geb5212-barnes/03-organizing.png"); 
			@include grow-style;}
		.m4 {
			background-image: url("course-style/geb5212-barnes/04-persuading.png"); 
			@include grow-style;}
		.m5 {
			background-image: url("course-style/geb5212-barnes/05-polishing.png"); 
			@include grow-style;
		}
	}	
} //  end .context-course_...		