.context-course_{
	/*C15*/ &316428, &316429 {
		.prof {background-image: url("course-style/mar6816/lutz.png");}	
		.m0 {background-image: url("course-style/mar6816/00-start-155.png");}
		.m1 {background-image: url("course-style/mar6816/01-strategic-155.png");}
		.m2 {background-image: url("course-style/mar6816/02-positioning-155.png");}
		.m3 {background-image: url("course-style/mar6816/03-services-155.png");}
		.m4 {background-image: url("course-style/mar6816/04-audit1-155.png");}
		.m5 {background-image: url("course-style/mar6816/05-integrated-155.png");}
		.m6 {background-image: url("course-style/mar6816/06-extension-155.png");}
		.m7 {background-image: url("course-style/mar6816/07-audit2-155.png");}
		.m8 {background-image: url("course-style/mar6816/08-emerging-155.png");}
		
		// exception for menu pages where module titles are more than 2 lines
		#wiki_page_show .button a {
			font-size: 15px;
		}
	}
} //end .context-course_...		