.context-course_ {
	//S15
		&314730,
	//F15
		&318605	{
		.prof {background-image: url("course-style/acg5065/knechel.png");}	
		.m0 {background-image: url("course-style/acg5065/0-start.png");}
		.m1 {background-image: url("course-style/acg5065/1-intro.png");}
		.m2 {background-image: url("course-style/acg5065/2-accountant.png");}
		.m3 {background-image: url("course-style/acg5065/3-badnews.png");}
		.m4 {background-image: url("course-style/acg5065/4-party.png");}
		.m5 {background-image: url("course-style/acg5065/5-latin.png");}
		.m6 {background-image: url("course-style/acg5065/6-whatever.png");}
		.m7 {background-image: url("course-style/acg5065/7-service.png");}
		.m8 {background-image: url("course-style/acg5065/8-supplychain.png");}
		.m9 {background-image: url("course-style/acg5065/9-fifth.png");}
		.m10 {background-image: url("course-style/acg5065/10-own.png");}
		.m11 {background-image: url("course-style/acg5065/11-management.png");}
		.m12 {background-image: url("course-style/acg5065/12-goesup.png");}
		.m13 {background-image: url("course-style/acg5065/13-moneygoround.png");}
		.m14 {background-image: url("course-style/acg5065/14-equity.png");}
		.m15 {background-image: url("course-style/acg5065/15-daytrading.png");}
		.m16 {background-image: url("course-style/acg5065/16-hotdog.png");}
	}
} //end .context-course_...		