.context-course_{
	/*C15*/	&316433 {
		.prof {background-image: url("course-style/mar5805/alba.png");}	
		.m0 {background-image: url("course-style/mar5805/00-start-155.png");}
		.m1 {background-image: url("course-style/mar5805/01-marketing-155.png");}
		.m2 {background-image: url("course-style/mar5805/02-segmentation-155.png");}
		.m3 {background-image: url("course-style/mar5805/03-competition-155.png");}
		.m4 {background-image: url("course-style/mar5805/04-product-155.png");}
		.m5 {background-image: url("course-style/mar5805/05-pricing-155.png");}
		.m6 {background-image: url("course-style/mar5805/06-advertising-155.png");}
		.m7 {background-image: url("course-style/mar5805/07-branding-155.png");}
		.m8 {background-image: url("course-style/mar5805/08-distribution-155.png");}
		.m9 {background-image: url("course-style/mar5805/09-quality-155.png");}
	}
} //end .context-course_...		