.context-course_{
	/*S15*/ &312992, &312993,
	/*C15*/	&316434, &316437 {
		.prof {background-image: url("course-style/fin6425/nimal.png");}	
		.m0 {background-image: url("course-style/fin6425/0-start.png");}
		.m1 {background-image: url("course-style/fin6425/1-first.png");}
		.m2 {background-image: url("course-style/fin6425/2-basic.png");}
		.m3 {background-image: url("course-style/fin6425/3-real.png");}
		.m4 {background-image: url("course-style/fin6425/4-capital.png");}
		.m5 {background-image: url("course-style/fin6425/5-raising.png");}
		.m6 {background-image: url("course-style/fin6425/6-payout.png");}
		.m7 {background-image: url("course-style/fin6425/7-risk.png");}
		.m8 {background-image: url("course-style/fin6425/8-exam.png");}
	}	
} // end .context-course_...	