.context-course_{
	/*C15*/ &316432 {
		.prof {background-image: url("course-style/abc1000/knechel.png");}	
		.m0 {background-image: url("course-style/abc1000/0-start.png");}
		.m1 {background-image: url("course-style/abc1000/1-intro.png");}
		.m2 {background-image: url("course-style/abc1000/2-accountant.png");}
		.m3 {background-image: url("course-style/abc1000/3-badnews.png");}
	}
} //end .context-course_...		