.context-course_270283 {
	.prof {background-image: url("course-style/geb5212/mccawley.jpg");}	
	.m0 {background-image: url("course-style/geb5212/0-start.png");}
	.m1 {background-image: url("course-style/geb5212/1-active.png");}
	.m2 {background-image: url("course-style/geb5212/2-concision.png");}
	.m3 {background-image: url("course-style/geb5212/3-organizing.png");}
	.m4 {background-image: url("course-style/geb5212/4-persuading.png");}
	.m5 {background-image: url("course-style/geb5212/5-polishing.png");}
	.m6 {background-image: url("course-style/geb5212/6-relationships.png");}
	.m7 {background-image: url("course-style/geb5212/7-development.png");}
	.m8 {background-image: url("course-style/geb5212/8-communication.png");}
} // end .context-course_...		