.context-course_{
	&270280,
	&304999 {
		.prof 	{background-image: url("course-style/bul5810/dimatteo.png");}	
		.m0 	{background-image: url("course-style/bul5810/0-start.png");}
		.m1 	{background-image: url("course-style/bul5810/1-intro.png");}
		.m2 	{background-image: url("course-style/bul5810/2-contracts.png");}
		.m3 	{background-image: url("course-style/bul5810/3-agency.png");}
		.m4 	{background-image: url("course-style/bul5810/4-business.png");}
	}		
} // end .context-course_...		